<div class="container">
  <footer class="footer">
    <small>
      Copyright © <a href="enter in a link here">Demo Ruby App Developed</a>by <a href="enter in a link here">Lalit Yadav</a>
    </small>
    <nav>
      <ul>
      <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>  
</div>